.feats {
    padding-bottom: 2em;

    .action-header {
        margin-top: 1em;
    }

    .item {
        &.feat-item {
            display: grid;
            grid:
                'name ctrl' min-content
                'content content' min-content
                / 1fr min-content;
                align-items: center;
            margin-bottom: 2px;

            &:nth-child(odd) {
                .item-name,
                .item-controls {
                    background-color: rgba($alt-color, 0.1);
                }
            }

            .item-name {
                grid-area: name;
                display: flex;
                flex: 1;
                align-items: center;
                width: 100%;
                height: 28px;

                .feat-slot-title {
                    font-family: var(--sans-serif);
                    font-size: 15px;
                    font-weight: bold;
                    color: var(--secondary);
                    width: 20px;
                    text-align: center;
                    vertical-align: middle;
                    margin-left: 6px;
                }

                .item-placeholder {
                    margin-left: 40px;
                    margin-right: 4px;
                }

                h4 {
                    font-family: var(--serif);
                    cursor: pointer;
                    &:hover {
                        color: var(--primary);
                        text-shadow: 0 0 3px var(--tertiary);
                    }
                }

                .item-image {
                    @include frame-icon;
                    height: 24px;
                    width: 24px;
                    margin: 2px 0;
                    border-radius: 0;
                    margin-left: 8px;
                    margin-right: 8px;
                    cursor: pointer;
                    background-color: var(--tertiary);
                }
            }

            .item-controls {
                grid-area: ctrl;
                font-size: 10px;
                white-space: nowrap;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                a {
                    margin-right: 4px;
                    &:last-child {
                        margin-right: 8px;
                    }
                }
            }

            .item-summary {
                grid-area: content;
                padding: 0 8px 8px;
                margin: 4px 0 0 4px;
            }

            ol.nested-items {
                grid-column: span 2;
                border-left: 3px dotted $alt-color;
                margin: 2px 0 0.4em 3.25em;
                padding: 0;

                li {
                    display: flex;
                    align-items: baseline;
                    flex-wrap: wrap;

                    .item-name {
                        .feat-slot-title {
                            width: 0;
                        }
                        img {
                            margin-left: 0;
                        }
                    }

                    .item-controls {
                        flex: 0;
                    }
                }
            }
        }
    }
}
