{{#if craftingEntries.alchemical.entries}}
    {{> systems/pf2e/templates/actors/crafting-entry-alchemical.html alchemicalCraftingEntries=craftingEntries.alchemical}}
{{/if}}
{{#each craftingEntries.other as |entry i|}}
    <li class="crafting-entry item-container item" data-container-type="craftingEntry" data-entry-selector="{{entry.selector}}">
        <div class="action-header">
            <h3 class="item-name pf-heading pf-actions hide-container-toggle title">
                {{entry.name}}
            </h3>
        </div>
        <ol class="directory-list item-list formula-list">
            {{#each entry.formulas}}
                <li class="item formula-item" data-item-id="{{this.uuid}}" data-item-type="formula" data-expended-state="{{this.expended}}" data-item-index={{@key}}>
                    <div class="item-name rollable">
                        {{#if this}}
                            <div class="item-image">
                                <img class="item-icon" src="{{this.img}}" alt="{{this.name}}">
                            </div>
                            <h4>{{this.name}}</h4>
                        {{else}}
                            <h4>Empty Slot (drag formula here)</h4>
                        {{/if}}
                    </div>

                    <div class="formula-dc"></div>
                    <div class="formula-cost"></div>
                    <div class="item-quantity"></div>

                    {{#if this}}
                        {{#if @root.owner}}
                            <div class="item-controls">
                                {{#if entry.isPrepared}}
                                    <a class="item-control craft-item" title="{{localize "PF2E.CraftItemTitle"}}" data-item-uuid="{{this.uuid}}"><i class="fas fa-hammer"></i></a>
                                    <a class="item-control toggle-formula-expended" title="{{localize "PF2E.CraftingTab.ExpendFormula"}}"><i class="fas fa-minus-square"></i></a>
                                {{/if}}
                                <a class="item-control formula-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                    {{/if}}
                </li>
            {{/each}}
        </ol>
    </li>
{{/each}}
{{#if (add craftingEntries.other craftingEntries.alchemical.entries)}}
    <li class="crafting-entry item-container item">
        <button type="button" class="daily-crafting">Complete Daily Crafting</button>
    </li>
{{/if}}
